@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i');

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

a:link, a:visited, a:hover, a:active, a:focus {
    color: unset;
    text-decoration: none !important;

}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/**/

html, body {
    font-family: 'Roboto', sans-serif !important;
    overflow-x: hidden !important;
    font-size: 15px !important;
    line-height: 1.6;
}

body {
    background: #f9f9f9;
}

div {
    /*     outline: 1px solid #ddd; */
}

.tren-menu {
    min-height: 150px;
    color: #12787b;
}

.main-menu {
    min-height: 30px;
    background: #12787b;
    color: #fff;
}

.main-slide {
    min-height: 100px;
}

.main-slide img {
    width: 100%;
    height: auto;
}

.hotline {
    background: #cb6e28;
    color: #fff;
    min-height: 40px;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 40px;
    margin-top: 1px;

}

.duoi-hotline {
    min-height: 100px;
}

.tuvan-benhnhan {
    min-height: 200px;
}

.slide-doingu-bacsi {
    min-height: 200px;
}

.tintuc-sukien {
    min-height: 700px;
}

.ykien-benhnhan {
    min-height: 250px;
    color: #1a1a1a;

}

.bando {
    min-height: 400px;
    margin-bottom: -10px;
}

.div-footer {
    background: #12787b;
    color: #fff;
    min-height: 300px;

}

.div-copyright {
    background: #0a4647;
    color: white;
}

img {
    display: block;
    max-width: 100%;
    height: auto;

}

.tren-menu {
    float: left;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.benphai-logo {
    text-transform: uppercase;
    text-align: center;
}

.benphai-logo .bentren {
    margin-bottom: 0px;
    font-size: 22px;
}

.benphai-logo .benduoi {
    font-size: 29px;
    font-weight: 500;
}

.traosk-nhanniemtin {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    font-style: italic;

}

.div-logo img {
    max-width: 180px;
    display: block;
    margin: 0 auto;

}

.div-logo {
    text-align: center;
}

.main-slide {
    padding-bottom: 2px;
}

nav {
    margin-bottom: 2px !important;
}

.div-icon {
    float: left;
    width: 16.66666%;
    text-align: center;
    padding: 20px 5px;
    border: 1px solid #ddd;
    display: table;

}

.div-icon img {
    display: table-cell;
    vertical-align: middle;
    cursor: pointer;
}

.duoi-hotline {
    display: flex;
    flex-direction: row;

}

.tieude-section {
    text-transform: uppercase;
    font-size: 24px;
    color: #12787b;
    text-align: center;
    padding: 25px 5px;
    font-weight: 500;
}

.tieude-tuvan, .chitiet-tuvan .widget_text h2 {
    background: #117a76;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    border-radius: 20px;
    padding: 8px 40px;
    text-align: center;
    display: inline-block;
}

.chitiet-tuvan > div {
    text-align: center;
    margin-bottom: 50px;
}

.chitiet-tuvan-noidung {
    max-width: 400px;
    text-align: justify;
    margin: 0 auto;

    margin-top: 30px;
}

.tinchinh {
    margin-bottom: 50px;
}

.tieude-tinchinh {
    font-weight: 500;
    font-size: 19px;
    margin: 15px 0;

}

.tieude-tinchinh a, .tieudetin-phu a {
    color: #1a1a1a !important;
}

.cactinphu .row > div {
    margin-bottom: 30px;
}

.tieudetin-phu {
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
}

div.tinchinh div.row div.col-md-3 {
    text-align: left;
}

.xemtiep-tinphu, .xemtiep {
    text-align: right;
    cursor: pointer;
    color: #1f9597;
}

.noidung-tinphu, noidung-tinchinh {
    text-align: justify;
}

.section- {
    min-height: 300px;

}

.ykien-wrapper {
    padding-top: 0px;
    padding-bottom: 0px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c9d2ce+0,d9dad5+23,c3d7cf+50,acd0bf+70,a9cfbd+88,cee3de+100 */
    background: #c9d2ce; /* Old browsers */
    background: -moz-linear-gradient(45deg, #c9d2ce 0%, #d9dad5 23%, #c3d7cf 50%, #acd0bf 70%, #a9cfbd 88%, #cee3de 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #c9d2ce 0%, #d9dad5 23%, #c3d7cf 50%, #acd0bf 70%, #a9cfbd 88%, #cee3de 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #c9d2ce 0%, #d9dad5 23%, #c3d7cf 50%, #acd0bf 70%, #a9cfbd 88%, #cee3de 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c9d2ce', endColorstr='#cee3de', GradientType=1); /* IE6-9 fallback on horizontal gradient */
    margin-left: -15px;
    margin-right: -15px;
}

.ykien-benhnhan div {
    max-width: 700px;
    margin: 10px auto;
}

.tieude-ykienbnhan {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 30px !important;
    margin-top: 25px !important;
}

.noidung-ykien p {
    font-size: 16.5px;
}

.chunhan-ykien {
    font-weight: 500;
    font-size: 20px;
    border-top: 2px solid white;
    padding-top: 10px;
    margin-top: 30px !important;
}

.div-copyright {
    text-align: center;
    padding: 7px;
}

.footer-wrapper {
    background: red;
    background: #12787b;
    margin: 0px -15px;
    padding-bottom: 20px;
}

.tieude-footer {
    padding: 20px 0;

}

nav.navbar {
    background-color: #12787b;
    margin-bottom: 0px !important;
}

nav.navbar li a {
    color: white !important;
    text-transform: uppercase;
}

nav.navbar div.container div.navbar-header a.navbar-brand {
    color: white;
}

.widget table tbody tr td img {
    display: inline;
}

div#mvccount img {
    display: inline !important;
}

div.noidungfooter ul {
    margin-left: 0px;
    list-style-type: none;
}

/*slide*/

.slick-arrow {
    color: #cb6e28 !important;
    z-index: 1000 !important;

    transform: scale(1.6, 1.6) !important;
}

.slick-arrow {

}

.slick-prev {
    margin-left: 40px;
}

.slick-next {
    margin-right: 40px;
}

div.slick-slide.slick-current.slick-active img {
    width: 100%;
    height: auto;
}

.slide-doingu-bacsi {
    position: relative;
}

.tieude-doingu-bs {
    transform: translateX(-50%);
    width: 200px;
    position: absolute;
    left: 50%;
    top: -17px;
    padding: 5px 10px;
    font-weight: 500;
    font-size: 17px;
    background: url("doingubacsi-bg.png") no-repeat;
    text-align: center;
    color: white;
    z-index: 10000;
    background-size: 100% 100% !important;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*
    width: 10%;
    height: 50px;
    padding-left:5px;
    padding-top: 5px;
    overflow: hidden; */
}

/* .tieude-doingu-bs:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    margin-left:-500px;
    margin-top:-500px;

    border-left: 500px solid transparent;
    border-right: 500px solid transparent;
    border-top: 500px solid #4679BD;
}
 */

.map-frame {
    width: 100%;
    height: 100%;
    position: relative;
}

.map-content {
    z-index: 10;
    position: absolute;
    top: 50px;
    left: 50px;
    width: 390px;
    background-color: black;
    color: #FFF;
}

#text-4, iframe {
    height: 500px !important;
}

.xemtiep a, .xemtiep-tinphu a {
    font-style: italic;
    color: #3498db !important;
}

.tieudetin-phu {
    margin-bottom: 10px;
    font-size: 17px;
}

.fa {
    margin-right: 5px;
}

#mvcwid {
    background: white;
    color: #1a1a1a;
}

.anhnguoi-cho-ykien {
    text;
}

.anhnguoi-cho-ykien img {
    margin: 5px auto;

}

.tieude-ykienbnhan {
    text-align: center;
}

.chunhan-ykien {
    text-align: center;
}

.cactinphu img {
    margin: 5px auto;
}

.tinchinh img {
    margin: 0 auto;
}

.footer-wrapper, .ykien-wrapper, .tintuc-sukien, .slide-doingu-bacsi, .slide-doingubacsi, .tuvan-benhnhan, .bando {
    position: relative;

}

.edit-content {
    z-index: 100000;
}

.noidungfooter {
    overflow-y: hidden;
}

.searchform-wrapper {
    position: absolute;
    top: 9px;
    right: 20px;
    z-index: 100000;
}

.searchform-wrapper button {
    background: transparent;

    border: none;
    position: absolute;
    right: -8px;
    top: -2px;

}

div.searchform-wrapper form.search-form {
    position: relative;

}

.searchform-wrapper i {
    font-size: 20px;
    color: #12787b;
}

nav.navbar.navbar-default div.edit-content {
    right: 270px !important;
}

div.social-icons {
    /*     border: 1px solid black; */
    margin-bottom: 20px;
    text-align: center;

}

.social-icons i {
    font-size: 40px;
    margin: 0px 10px;

}

div.footet-col:nth-child(3) > div:nth-child(1) {
    text-align: center;
}

div#mvcwid {
    margin-top: 61px;
}

.duoi-hotline2 img {
    width: 100%;
    height: auto;
}

div.tintuc-sukien div.tinchinh div.row {
    display: flex;
    flex-wrap: wrap;
}

nav.navbar.navbar-default div.container {
    position: relative;
}

div.cactinphu .wp-post-image {

    border: 1px solid #ddd;
}

.searchform-wrapper > .edit-content {
    top: 0px !important;
    right: unset !important;
    position: absolute;
    left: -60px !important;
    width: 50px !important;

}

.tuvan-benhnhan .widget.widget_text h2 {
    animation: blinker 1.6s ease infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

/**/

div.noidungfooter div.social-icons a i.fa {
    color: white !important;
}

/* trang tin tuc */

.tieude-tintuc, .tieude-box {

    height: 40px;
    background: url(../images/tintuc-bg.png) no-repeat;
    padding: 5px 15px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 40px;

}

.tieude-tintuc:after {
    content: "";
    width: 100%;
    height: 2px;
    position: absolute;
    background: #cb6e28;
    bottom: -2px;
    left: 0;

}

.tieudetin-trangtt {
    font-weight: 500;
    font-size: 19px;
    margin-bottom: 15px;

}

.mottin {
    display: flex;
    margin-bottom: 40px;
    padding-bottom: 20px;
    border-bottom: 1px dashed #cb6e28;
}

.anhtin-wrapper {
    margin-left: -15px;
    margin-right: -15px;
}

.tomtattin {
    text-align: justify;
}

.tomtattin, .tieudetin-trangtt {
    margin-right: -45px;
}

.xemtieptt {
    position: absolute;
    right: -30px;
    bottom: 0px;
}

.xemtieptt a {
    color: #3498db !important;
}

.div-main {

}

.box-wrapper {
    border: 3px solid #cb6e28;
    padding: 15px;
    margin-top: -40px;
}

.thongtinthem a {
    color: #117a76 !important;
    text-transform: uppercase;
    font-size: 17px;
    border: 2px solid #cb6e28;
    display: block;
    padding: 3px 10px;
    border-radius: 10px;
    text-decoration: none !important;
}

.thongtinthem p {
    margin-bottom: 15px;
}

.trangtintuc-wrapper {
    margin-top: 40px;
}

.div-right {
    margin-
}

.box-and-tieude-wrapper, .thongtinthem {
    margin-bottom: 30px;
}

.tieudetin-trangtt a, {
    color: #1a1a1a !important;
}

.box-wrapper p {
    margin-bottom: 17px;
}

ul#menu-main-menu.nav.navbar-nav li.active a {
    background-color: unset !important;
}

/* chi tiet tin */

.tieude-tintuc-chitiet {
    font-weight: 500;
    font-size: 28px;
    color: #117a76;
    margin-bottom: 0px;
    margin-top: -20px;
}

.tintuc-meta {
    margin-bottom: 30px;
    color: #999;
}

.tieude-bvlq {
    text-transform: uppercase;
    font-size: 23px;
    color: #117a76;
    font-weight: 500;
    margin: 30px 0;
    border-bottom: 1px dashed #cb6e28;

}

.noidung-tintucchitiet {
    text-align: justify;
}

div.tieude-tintuc-chitiet a {
    color: #117a76;
}

.cacbaiviet {
    margin-bottom: 50px;
    float: left;
    width: 100%;
}

.motbaiviet-lienquan div.tieude a {
    color: #117a76;

}

.editpost {
    position: absolute;
    right: 10px;
    background: #006699;

    padding: 5px 10px;
}

.editpost a {
    color: white !important;
}

/*pagination*/
/* ============================================================
  CUSTOM PAGINATION
============================================================ */
.custom-pagination span,
.custom-pagination a {
    display: inline-block;
    padding: 6px 14px;
}

.custom-pagination a {
    background-color: #ebebeb;
    color: #ff3c50;
}

.custom-pagination a:hover {
    background-color: #59bdb3;
    color: #fff;
}

.custom-pagination span.page-num {
    margin-right: 10px;
    padding: 0;
}

.custom-pagination span.dots {
    padding: 0;
    color: gainsboro;
}

.custom-pagination span.current {
    background-color: #59bdb3;
    color: #fff;
}

nav.custom-pagination {
    text-align: center;
    margin-bottom: 40px !important;
}

.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-has-children.dropdown.open a.dropdown-toggle {
    background: unset !important;
}

ul.dropdown-menu li.menu-item.menu-item-type-post_type.menu-item-object-page a {
    background: #12787b !important;
    border-bottom: 1px solid white;
    text-transform: capitalize;
}

ul.dropdown-menu li.menu-item.menu-item-type-post_type.menu-item-object-page a:hover {
    color: #12787b !important;
    background: white !important;
}

ul#menu-main-menu.nav.navbar-nav li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-has-children.dropdown.open ul.dropdown-menu {
    background: #12787b;
}

.sidebar-nav {
    padding: 9px 0;
}

.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
    margin-top: 0;
}

.navbar .sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 10px;
}

.navbar .sub-menu:after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: 10px;
    top: 11px;
    left: -6px;
}

ul#menu-main-menu.nav.navbar-nav li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-has-children.dropdown ul.dropdown-menu {
    background: #12787b;
}

/*het phan menu*/

.span-ngay {
    margin-right: 4px;
}

div.wrap a.page-title-action {
    background: red;
    color: white;
    font-weight: bold;
}

/* trang lien he */
.tranglienhe .tieude-tintuc-chitiet {
    margin-bottom: 30px;
    text-transform: uppercase;
}

.tieude-trenform {
    background: #cb6e28;
    padding: 6px 25px;
    color: white;
    font-weight: 500;
    text-transform: uppercase;

}

.formlienhe-wrapper {
    background: #eaeaea;
    padding: 20px;
}

.formlienhe-wrapper input, .formlienhe-wrapper textarea {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box;
    color: #000;
    font: 400 14px/20px "Open Sans", Helvetica, Arial, sans-serif;
    height: 40px;
    padding: 9px 15px;
    transition: border-color 0.3s ease 0s;
    width: 100%;

}

.formlienhe-wrapper div {
    position: relative;
}

.formlienhe-wrapper i {
    position: absolute;
    left: 12px;
    top: 36px;
    color: #999;
    z-index: 100;
}

.formlienhe-wrapper input:placeholder-shown, .formlienhe-wrapper textarea:placeholder-shown {
    padding-left: 35px;
    font-weight: 500;

}

.formlienhe-wrapper textarea {
    height: 200px;
}

.hotlinee {
    color: #cb6e28;
    font-size: 21px;
    text-align: center;
}

.wpcf7-form-control.wpcf7-submit {
    color: white;
    font-weight: 500;
    font-size: 17px;
    text-transform: uppercase;
    background: #cb6e28;
    border-radius: 5px;
    width: 130px;

}

.row.duoiiform {
    margin-top: 30px;
}

.tieudeboxlienhe {
    font-weight: 500;
    font-size: 22px;
    color: #12787b;
    text-transform: uppercase;
    padding: 20px 0;
}

.tranglienhe .div-right {
    border: 1px solid #ddd;
}

.box-widgetlienhe p {
    margin-bottom: 11px;
}

div.formlienhe-wrapper div span input, div.formlienhe-wrapper div span textarea {
    padding-left: 35px !important;
    line-height: 1.7 !important;
}

.motbaiviet-lienquan {
    text-align: center;

}

.motbaiviet-lienquan img {
    display: block;
    margin: 0px auto;
    margin-top: 30px;
}

.tieude-bvlq {
    text-align: center
}

form.wpcf7-form div.formlienhe-wrapper div.row.duoiiform div.col-sm-4 {
    text-align: center
}

div.duoi-hotline div.div-icon a img {
    display: block;
    margin: 0 auto;
}

.anhtintic {
    margin-bottom: 15px;
}

div.cacbaiviet div.col-sm-4.col-md-3.motbaiviet-lienquan p a img, .anhtintic img {
    border: 1px solid #ddd;
}

div#mvccount {
    background: #eee;
    border-radius: 4px;

}

div#mvcwid td {
    width: 213px !important;
    border: 1px solid #ddd !important;
    text-align: left;
    padding: 3px 7px;
}

div#mvcwid {
    border-radius: 2px;

}

#mvccount {
    text-align: center;
}

div.footet-col.footer-col-2.col-md-2.col-sm-6 li a {
    color: white !important;
}

#text-7 {
    margin-bottom: 0;
}

.duoiicon  {

    font-size: 14px;
    height: 42px;
    margin-top: 13px;
    margin-bottom: -5px;
}

.duoiicon a {
    color: #12787b!important;
}

















