@media screen and (min-width: 100px) and (max-width: 325px) {

  .tieude-tinchinh, .tieudetin-phu{
    text-align: center;
}
  .traosk-nhanniemtin{
    font-size: 21px!important;
  }
  
  .search-field{
    width: 140px;
  }
  
  
}

@media screen and (min-width: 326px) and (max-width: 480px) {

  
  .traosk-nhanniemtin{
    font-size: 23px!important;
  }
  
  div.cactinphu .wp-post-image{
    display: block;
    margin: 0 auto;
  }
  
  .tieude-tinchinh, .tieudetin-phu{
    text-align: center;
  }
  
}

@media screen and (min-width: 481px) and (max-width: 767px) {

}


@media screen and (min-width: 768px) and (max-width: 991px) {
  ul#menu-main-menu.nav.navbar-nav li a{
    padding: 5px!important;
    padding-right: 10px;
    font-size: 13.5px;
    transform: translateY(10px);
  }
  

  .tinchinh img{
    margin: 0 auto;
  }
  
  
  
}


@media screen and (min-width: 992px) and (max-width: 1199px) {

}

@media screen and (min-width: 1200px) and (max-width: 1599px) {
  
}

@media screen and (min-width: 1200px) and (max-width: 3000px) {
  .bentren{
    font-size: 25px!important;
    margin-bottom: -5px!important;
  }
  
  .benduoi{
    font-size: 39px!important;
  }
  .traosk-nhanniemtin{
    font-size: 37px!important;
  }
}

@media screen and (min-width: 1600px) and (max-width: 3000px) {

}

@media screen and (min-width: 10px) and (max-width: 991px) {

}

@media screen and (min-width: 992px) and (max-width: 3000px) {
  .footer-col-1{
    width: 30%!important;
  }
  .footer-col-2{
    width: 20%!important;
  }
  
  div.tintuc-sukien div.cactinphu div.row div.col-md-6:nth-child(2n+1){
     border-right: 1px solid transparent; 
}
}

@media screen and (min-width: 10px) and (max-width: 767px) {
  .searchform-wrapper{

    right: 70px!important;
    
}
  
  .tieude-footer, .noidungfooter{
    text-align: center;
  }
  
  #mvcwid{
    margin-top: 0!important;
  }
  
  .noidungfooter{
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 3000px) {
div.tintuc-sukien div.cactinphu div.row div.col-md-6{
    padding-top: 10px;
    border: 1px solid #ddd;
    height: 200px;
    border-collapse: collapse;
    position: relative;
}



div.tintuc-sukien div.cactinphu div.row div.col-md-6 div.row{
    display: flex;
    flex-wrap: wrap;
    height: 200px;
}

.xemtiep, .xemtiep-tinphu{
    position: absolute;
    display: inline-block;
    right: 15px;
    bottom: -10px;
    
}
}